<header
  class="container flex items-center gap-10 border border-gray-400 rounded-3xl mt-4">
  <img class="w-44" src="assets/blender-shortcuts-logo.svg" alt="Logo" />
  <app-search></app-search>
</header>

<main class="grow container pb-16">
  <app-heading>General</app-heading>
  <div class="flex flex-wrap gap-10">
    <ng-container *ngFor="let generalShortcut of generalShortcuts">
      <app-shortcut-card [data]="generalShortcut"></app-shortcut-card>
    </ng-container>
  </div>

  <app-heading>Edit Mode</app-heading>
  <div class="flex flex-wrap gap-10">
    <ng-container *ngFor="let editModeShortcut of editModeShortcuts">
      <app-shortcut-card [data]="editModeShortcut"></app-shortcut-card>
    </ng-container>
  </div>
</main>
