<header>
  <p>Blender Shortcuts</p>
  <app-search></app-search>
</header>

<main>
  <h2 class="text-xl">General</h2>
  <app-separator></app-separator>
  <div class="flex flex-wrap gap-10">
    <ng-container *ngFor="let generalShortcut of generalShortcuts">
      <app-shortcut-card [data]="generalShortcut"></app-shortcut-card>
    </ng-container>
  </div>

  <h2>Edit Mode</h2>
  <app-separator></app-separator>
  <div class="flex flex-wrap gap-10">
    <ng-container *ngFor="let editModeShortcut of editModeShortcuts">
      <app-shortcut-card [data]="editModeShortcut"></app-shortcut-card>
    </ng-container>
  </div>
</main>
